/* -------------------
/* Custom properties   */
/* ------------------- */

:root {
 
    color: white; 
    background-color: black;
    margin: auto;

  
}

@media (min-width: 35em) {
    :root {
        color: white;
       font-size: 18px;
     
    }
}

@media (min-width: 45em) {
    :root {
        color: white;
        font-size: 18px;
    }
}


/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}
/* h1 */
h1 { background:#ffffff;background-color: #ffffff;background-image: radial-gradient(circle farthest-corner at center, rgba(203, 163, 178, 1) 20%, rgba(231, 190, 205, 1) 40%, rgba(255, 218, 234, 1) 60%, rgba(255, 247, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);background-size: 100%;background-repeat: repeat;-webkit-background-clip: text;-webkit-text-fill-color: transparent; -moz-background-clip: text;-moz-text-fill-color: transparent; 
   font-size: 50px; 
   font-family:Georgia, 'Times New Roman', Times, serif;
}

/* h2 */
h2 { background:#ffffff;background-color: #ffffff;background-image: radial-gradient(circle farthest-corner at center, rgba(203, 163, 178, 1) 20%, rgba(231, 190, 205, 1) 40%, rgba(255, 218, 234, 1) 60%, rgba(255, 247, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);background-size: 100%;background-repeat: repeat;-webkit-background-clip: text;-webkit-text-fill-color: transparent; -moz-background-clip: text;-moz-text-fill-color: transparent; 
  font-size: 45px;  
  font-family:Georgia, 'Times New Roman', Times, serif;
}

h3 {
 background:#ffffff;background-color: #ffffff;background-image: radial-gradient(circle farthest-corner at center, rgba(203, 163, 178, 1) 20%, rgba(231, 190, 205, 1) 40%, rgba(255, 218, 234, 1) 60%, rgba(255, 247, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);background-size: 100%;background-repeat: repeat;-webkit-background-clip: text;-webkit-text-fill-color: transparent; -moz-background-clip: text;-moz-text-fill-color: transparent; 
  font-size: 35px;  
  font-family:Georgia, 'Times New Roman', Times, serif;

} 

/* set up the body */
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    background-color:black;
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}




/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* General Flex Box and Grid */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    padding: 3% 4%;
    max-width: 80rem;
}

.grid-container {
    text-align: center;
    display: grid;
    place-items: center;
    padding-inline: 1rem;

}

.grid-container * {
    max-width: 50ch;
}

@media (min-width: 45em) {
    .grid-container {
        text-align: left;
        column-gap: var(--container-gap, 2rem);
        grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(1rem, 1fr);
    }
    
    .grid-container > *:first-child {
        grid-column: 2;
    }

    .grid-container > *:last-child {
        grid-column: 3;
    }
    
    .grid-container--home {
        padding-bottom: max(6rem, 20vh);
        align-items: end;
    }
}
/* Screen Reader CSS */
.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}


/* About Section */

.about-section {
    background-color: #171717;
    margin: auto; 
    padding: 10% 5%;
}


.accordion-item {
    width: 100%;
    padding: 10px;
    background-color: #171717;
    border:none;
   
}

.accordion-button {
    background-color: #3d3d3d;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    width: 60%;
    margin: auto;
    border-radius: 10px;
}

.accordion-button { border:1px solid;border-image: radial-gradient(circle farthest-corner at center, rgba(203, 163, 178, 1) 20%, rgba(231, 190, 205, 1) 40%, rgba(255, 218, 234, 1) 60%, rgba(255, 247, 255, 1) 80%, rgba(255, 255, 255, 1) 100%) 10% round; }

/* Service Section */

.services {
    background-color:black;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height:auto;
}
/* Project Section */

.portfolio {
    background-color: #171717;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height:auto;
}

/* Contact Me Section */
.contact-section {
    background-color: black;
    backdrop-filter: blur(1rem);
   
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0, 0.1);
    margin: auto; 
    padding: 3% 4%;
 }


 #contact .form-group {
    border-radius: 10px;
   
 }
 #contact .form-control {
    background-color: black;
    border-color: #ed6fde;
    color:white;
   
 }
 #contact .form-control :focus {
    border-color:white;
    box-shadow: none;
 }

 #contact .form-control ::placeholder {
    color: white; 
 }


/* Blur Effect Cards */

.card {
    width: 90%; 
    max-width: 400px;
    padding: 5rem 2.5rem;

    border-radius: 1rem;
    border: 1px solid transparent; 

    backdrop-filter: blur(3rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0, 0.5);

    border-top-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.5);
    border-right-color: rgba(225, 225, 225, 0.5);
}

.cb1 {
    background-color: rgba(225, 225, 225, 0.1);
}

.cb2 {
    background: linear-gradient(to right bottom, rgba(225, 225, 225, 0.5), rgba(225, 225, 225, 0.0));
    color: black; 
}

.card-number {
    color: rgba(104, 103, 103, 0.3); 
    font-size: 8rem; 
    z-index: -1; 
    position: absolute;
    top: -1rem; 
    right: 2.5rem; 

}

.btn-contact {
    background-color:black ;
    border-radius: 5px;
    border-color:#ed6fde;
    color: whitesmoke;
    width: 50%;
    padding: 10px 5px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.btn-contact:hover {
    background-color: #ed6fde; 
    border:none;
    }
    

.title {
    margin: 0 auto; 
    width: 100%;
    max-width: 40rem; 
    font-size: 4rem;
    text-align: center;
}

/* colors */





.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px; 
}

.numbered-title span {
    margin-right: .5em;
    font-weight: 700;
    color: hsl( var(--clr-white) / .25);
}


/* ------------------- */
/* Compontents         */
/* ------------------- */

.navbar-brand{
    color:rgba(203, 163, 178, 1);
}
.nav-link {
    color: white;
}

.nav-link:hover {
    color:rgba(203, 163, 178, 1);
    }

.navbar-toggler {
    color:rgba(255, 218, 234, 1);
}






/* ----------------------------- */
/* Page specific background      */
/* ----------------------------- */
body {
    background-color: black;
    background-size: cover;
    background-position: bottom center;
}
/* home */
.home {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
 
}
/* 
@media (min-width: 35rem) {
    .home {
    
    }
}

@media (min-width: 45rem) {
    .home {
        
        
    }
}   */


.footer {
   background-color: #ed6fde;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    height: 100px;
}

/*  About New */
#about {
    background-color: #171717;
    padding: 80px 0; 
    
}

.row-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;

}

.tab-titles {
    display: flex; 
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500; 
    cursor: pointer;
    position: relative;

}

.tab-links::after {
   content: '';
   width: 0; 
   height: 3px;
   background: #ff00e1;
   position: absolute;
   left: 0;
   bottom: -8px;
   transition: 0.5s;

}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #ed6fde;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.active-tab.active-tab {
    display:block;
}
 
.portfolio {
     padding: 50px 0px;

}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 20px;
    display:block ;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ed6fde); 
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color:#ff00e1;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ed6fde;
    padding: 14px 50px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}

.btn:hover {
background-color: #ed6fde; 
border:none;
}



 

  

  
